.FilterToggle {
  display: flex;
  flex:            0 1 auto;
  align-content:   center;
  justify-content: space-between;
  width: 100%;
  padding: $margin-base $margin-lg;
  background: transparent;
  line-height: 1;
  user-select: none;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background: $off-white;
    }
  }
}