.Header {
  padding: $margin-xxl 0;
  background: $color-background-dark;

  &__content {
    width:      100%;
    max-width:  calc(#{$size-max-width} + (#{$margin-lg} * 2));
    margin:  0 auto;
    padding: 0 $margin-lg;
    color: $color-text-light;
    text-align: center;
  }

  &__subtitle {
    margin-top: $margin-lg;
    font-size: 1.2em;
  }
}