body {
  background: $color-background;
}

.container {
  margin: 0;
  margin-top: $margin-xl;
}

.row {
  position: relative;
  display: flex;
  flex: 0 1 100%;
  flex-flow: column;

  @media screen and (min-width: 667px) {
    flex-flow: row;
  }

  & + & {
    margin-top: 1rem;
  }
}