// Standard Colours
$white:                       #ffffff;
$off-white:                   #f7f8f8;
$smoke:                       #d7d7d7;
$off-gray:                    #595959;
$dark:                        #2c2c2c;

// Brand Colours
$quest:                       darken(#FEE73A, 12%);
$field:                       darken(#AEFD32, 12%);
$current-start:               #AEF2AE;
$current-stop:                darken(#9ADEAD, 8%);

$dark-blue:                   #252A33;

$brand-primary:               $current-stop;
$brand-secondary:             #FE64A3;

// Expansion Colours
$realmreborn:                 #c1eaef;
$heavensward:                 #182131;
$stormblood:                  #811111;

// Utility Variables
$color-text:                  $dark;
$color-text-light:            $white;

$color-background:            darken($off-white, 2%);
$color-background-dark:       $dark-blue;
$color-background-box:        lighten($color-background, 4%);
$color-background-box-dark:   $off-gray;

$color-border:                darken($color-background, 4%);

$color-button:                $brand-primary;
$color-button-text:           $white;
$color-button-active:         darken($color-button, 10%);
$color-button-second:         $brand-secondary;
$color-button-second-active:  darken($color-button-second, 10%);