$size-max-width:   980px;

$margin-base:      0.5rem;
$margin-lg:        ($margin-base * 2);
$margin-xl:        ($margin-base * 4);
$margin-xxl:       ($margin-base * 8);

$border-radius:    0.4rem;
$border-radius-sm: ($border-radius/2);