$size-max-width:    980px;
$size-max-width-xl: 1280px;

$margin-base:      0.5rem;
$margin-sm:        ($margin-base / 2);
$margin-lg:        ($margin-base * 2);
$margin-xl:        ($margin-base * 4);
$margin-xxl:       ($margin-base * 8);

$border-radius:    0.4rem;
$border-radius-sm: ($border-radius/2);