.Grid {
  display: flex;
  flex-flow: row wrap;

  &__inner {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -$margin-base;
  }

  &__block {
    display:   flex;
    flex:      0 1 100%;
    flex-flow: column nowrap;
    margin:        0 $margin-base;
    margin-bottom: $margin-lg;
    padding:       $margin-lg;
    background: $color-background-box;
    border-radius: $border-radius;
  }

  &__main {
    display: flex;
    flex: 1 0 100%;
    flex-flow: row wrap;
    align-items: flex-start;
    padding: 0;
    transition: transform .2s ease-out;

    @media screen and (min-width: 768px) {
      width: 100%;
    }
  }

  &__noResults {
    flex: 0 1 auto;
    align-self: center;
    width: 80%;
    text-align: center;

    @media screen and (min-width: 667px) {
      width: 50%;
    }
  }

  &__card {
    display: inline-block;
    flex: 0 1 calc(100% - #{$margin-lg});
    margin-right:  0.5rem;
    margin-bottom: $margin-lg;
    margin-left:   0.5rem;
    background: $color-background-box;
    border-radius: 0 0 $border-radius $border-radius;
    break-inside: avoid;
    page-break-inside: avoid;

    @media screen and (min-width: 992px) {
      flex: 0 1 calc(50% - #{$margin-lg});
    }

    @media screen and (min-width: 1200px) {
      flex: 0 1 calc(33.33333% - #{$margin-lg});
    }

    &--wide { 
      flex: 0 1 calc(100% - #{$margin-lg}); 
    }

    &__content {
      padding: $margin-lg;
    }
  }

  &__cardTitle {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding:  $margin-lg;
    color: $color-text-light;
    font-weight: 700;
    border-radius: $border-radius $border-radius 0 0;

    & > * {
      margin-bottom: 0;
    }

    & > h2 {
      flex: 1 0 auto;
    }

    & > .Dropdown {
      flex: 0;
    }

    &--hs {
      background: $heavensward;
    }

    &--sb {
      background: $stormblood;
    }
  }
}